// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn.btn-info {
    margin-top: 35pt;
    color: #ffffff;
    background-color: #22a39f;
    background-image: linear-gradient(to bottom, #22a39f, #22a39f);
    border-color: #22a39f #22a39f #22a39f;
}
.btn.btn-info:hover {
    color: #ffffff;
    background-color: #22a39f;
    background-image: linear-gradient(to bottom, #22a39f, #22a39f);
    border-color: #22a39f #22a39f #22a39f;
}

img {
  margin-top: 20pt;
}
